spring:
  config:
    activate:
      on-profile: docker

  application:
    name: budgeting-app-backend

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        "[format_sql]": true

  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: true  # NEVER allow clean in Docker/production
